@font-face {
  font-family: 'game-of-thrones';
  src: url("../../RES/got.ttf") format("truetype");
}

h1, h2, h3 {
  font-family: 'game-of-thrones';
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-width: 10vh;
  background-color: white;
  z-index: 1;
  color: black;
}

.headerText, .headerTitle, .headerLogo {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 800px) {
  .headerText, .headerTitle, .headerLogo {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1000px) {
  .headerText, .headerTitle, .headerLogo {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1200px) {
  .headerText, .headerTitle, .headerLogo {
    font-size: 2em;
  }
}

@media only screen and (min-width: 800px) {
  .headerTitle {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 800px) {
  .headerLogo {
    margin-left: 50px;
  }
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.flexbox h1 {
  font-size: 1em;
  font-family: 'game-of-thrones';
  line-height: 0;
}

@media only screen and (min-width: 800px) {
  .flexbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

#header {
  display: none;
}

.gridWrapper {
  position: fixed;
  background-image: url("/clientIMG/background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.grid-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  direction: row;
}

@media only screen and (min-width: 600px) {
  .grid-4 {
    margin-top: -100px;
  }
}

.character_portrait {
  text-align: center;
  width: 50%;
}

.character_portrait h3, .character_portrait h2 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1em;
}

.character_portrait h2 {
  font-size: 1.6em;
}

.character_portrait h3 {
  font-size: 1em;
}

@media only screen and (min-width: 600px) {
  .character_portrait h2 {
    font-size: 2.4em;
  }
  .character_portrait h3 {
    font-size: 1.6em;
  }
}

.portrait {
  width: 70%;
  -webkit-filter: grayscale(2);
          filter: grayscale(2);
}

.selected {
  -webkit-filter: none;
          filter: none;
}

/*
.hero {
    &:hover {
        filter: none;
        cursor: pointer;
    }
}*/
.empty {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  display: none;
}

@media only screen and (min-width: 1400px) {
  .empty {
    display: initial;
  }
}

.ctaSection {
  position: fixed;
  bottom: 30px;
  width: 100vw;
}

@media only screen and (min-width: 600px) {
  .ctaSection {
    bottom: 60px;
  }
}

.ctaBox {
  margin: 0 auto;
  width: 200px;
  height: 70px;
  padding: 5px;
  background-color: white;
}

@media only screen and (min-width: 600px) {
  .ctaBox {
    width: 270px;
    height: 95px;
    padding: 10px;
  }
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
  font-size: .9em;
  font-family: 'game-of-thrones';
  line-height: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cta:hover {
  cursor: pointer;
}

.cta:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media only screen and (min-width: 600px) {
  .cta {
    font-size: 1em;
  }
}

.jonSelected_cta {
  background-color: #7C8F71;
  border: 2px solid #465240;
}

.jonSelected_box {
  background-color: #67795d;
}

.dannySelected_cta {
  background-color: #994B55;
  border: 2px solid #743940;
}

.dannySelected_box {
  background-color: #803d46;
}
/*# sourceMappingURL=home.css.map */